<a href="https://colab.research.google.com/github/DarknessSpectre/Labs/blob/main/%D0%94%D0%B0%D1%82%D0%B0%D1%84%D1%80%D0%B5%D0%B9%D0%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Группировка данных

In [ ]:
import pandas as pd

# Создаем примерную таблицу с данными о школьниках
df = pd.DataFrame({'Класс': ['8A', '8A', '8Б', '8Б'], 'Ученики': ['Алёна', 'Владимир', 'Кристина', 'Даниил'], 'Оценка': [5, 4, 4, 5]})
print(df)

# Группируем данные по классам школьниках
groups = df.groupby('Класс')

# Печатаем результаты группировки
for name, group in groups:
  print(name)
  print(group)

  Класс   Ученики  Оценка
0    8A     Алёна       5
1    8A  Владимир       4
2    8Б  Кристина       4
3    8Б    Даниил       5
4
  Класс   Ученики  Оценка
1    8A  Владимир       4
2    8Б  Кристина       4
5
  Класс Ученики  Оценка
0    8A   Алёна       5
3    8Б  Даниил       5

Найдем среднюю оценку по группе

In [ ]:
mean_scores = df.groupby('Класс').mean()
print(mean_scores)

       Оценка
Класс
8A        4.5
8Б        4.5

###Сгруппируем данные из [файла](https://drive.google.com/file/d/1mOXU48GaM7Bbv3zBxKaH4kTcVJoriC-1/view?usp=share_link) по региону

Файл содержит статистику по стоимости Интернета в разных странах.

- Скачайте файл
- Сохраните в колабе
- Прочитайте файл как датафрейм
- Проведите группировку по столбцу Continental region

##Сортировка данных

In [ ]:
# Сортируем данные по убыванию оценок
sorted_df = df.sort_values(by='Оценка', ascending=False)
sorted_df.head()

  Класс   Ученики  Оценка
0    8A     Алёна       5
3    8Б    Даниил       5
1    8A  Владимир       4
2    8Б  Кристина       4

In [ ]:
sorted_df = df.sort_values(by=['Класс', 'Оценка'], ascending=[True, False])
sorted_df

  Класс   Ученики  Оценка
0    8A     Алёна       5
1    8A  Владимир       4
3    8Б    Даниил       5
2    8Б  Кристина       4

##Объединение данных
Функция merge()

In [ ]:
import pandas as pd

# Создаем две примерные таблицы с данными о школьниках
df1 = pd.DataFrame({'Класс': ['8A', '8A', '8Б', '8Б'], 'Ученики': ['Алёна', 'Владимир', 'Кристина', 'Даниил'], 'Оценка 1': [5, 4, 4, 5]})
df2 = pd.DataFrame({'Класс': ['8A', '8A', '8Б', '8Б'], 'Ученики': ['Алёна', 'Владимир', 'Кристина', 'Даниил'], 'Оценка 2': [3, 3, 3, 5]})
print(df1)
print(df2)
# Объединяем таблицы по имени школьника
df = pd.merge(df1, df2, on='Ученики')
print(df)

  Класс   Ученики  Оценка 1
0    8A     Алёна         5
1    8A  Владимир         4
2    8Б  Кристина         4
3    8Б    Даниил         5
  Класс   Ученики  Оценка 2
0    8A     Алёна         3
1    8A  Владимир         3
2    8Б  Кристина         3
3    8Б    Даниил         5
  Класс_x   Ученики  Оценка 1 Класс_y  Оценка 2
0      8A     Алёна         5      8A         3
1      8A  Владимир         4      8A         3
2      8Б  Кристина         4      8Б         3
3      8Б    Даниил         5      8Б         5

Функция concat()

In [ ]:
import pandas as pd

# Создаем две таблицы
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2'],
                    'C': ['C0', 'C1', 'C2']},
                    index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5'],
                    'C': ['C3', 'C4', 'C5']},
                    index=[3, 4, 5])

# Объединяем таблицы с помощью concat()
df3 = pd.concat([df1, df2])
print(df3)

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5

Функция join()

In [ ]:
import pandas as pd

# Создаем две таблицы
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

# Объединяем таблицы с помощью join()
df3 = df1.join(df2, lsuffix='_1', rsuffix='_2')
print(df3)

  key_1   A   B key_2   C   D
0    K0  A0  B0    K0  C0  D0
1    K1  A1  B1    K1  C1  D1
2    K2  A2  B2    K2  C2  D2
3    K3  A3  B3    K3  C3  D3

###Заполнение пропусков

In [ ]:
import pandas as pd

# Создаем таблицу с пропущенными значениями
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6],
                   'B': [1, 2, 3, 4, 5, 6],
                   'C': [None, 2, 3, 4, 5, 6]})
print('до заполнения пропуска')
print(df)
# Заполняем пропущенные значения средним значением столбца
df['C'] = df['C'].fillna(df['C'].mean())
print('после заполнения пропуска')
print(df)

до заполнения пропуска
   A  B    C
0  1  1  NaN
1  2  2  2.0
2  3  3  3.0
3  4  4  4.0
4  5  5  5.0
5  6  6  6.0
после заполнения пропуска
   A  B    C
0  1  1  4.0
1  2  2  2.0
2  3  3  3.0
3  4  4  4.0
4  5  5  5.0
5  6  6  6.0

In [ ]:
import pandas as pd

# Создаем таблицу с пропущенными значениями
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6],
                   'B': [1, 2, 3, 4, 5, 6],
                   'C': [None, 2, 3, 4, 5, 6]})

# Заполняем пропущенные значения фиксированным значением 0
df['C'] = df['C'].fillna(0)
print(df)

   A  B    C
0  1  1  0.0
1  2  2  2.0
2  3  3  3.0
3  4  4  4.0
4  5  5  5.0
5  6  6  6.0

In [ ]:
df[['A', 'B', 'C']] = df[['A', 'B', 'C']].fillna(0)

###Заполним пустые ячейки из [файла](https://drive.google.com/file/d/1mOXU48GaM7Bbv3zBxKaH4kTcVJoriC-1/view?usp=share_link)  нулями

Файл содержит статистику по стоимости Интернета в разных странах.

- Скачайте файл
- Сохраните в колабе
- Прочитайте файл как датафрейм
- Заполните пустые ячейки нулями

###Удаление строк с пропусками значений

In [ ]:
import pandas as pd

# Создаем таблицу с пропущенными значениями
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6],
                   'B': [1, 2, 3, 4, 5, 6],
                   'C': [None, 2, 3, 4, 5, 6]})

# Удаляем строки с пропущенными значениями
df = df.dropna()
print(df)

   A  B    C
1  2  2  2.0
2  3  3  3.0
3  4  4  4.0
4  5  5  5.0
5  6  6  6.0

###Удалим строчки с пустыми значениями из [файла](https://drive.google.com/file/d/1mOXU48GaM7Bbv3zBxKaH4kTcVJoriC-1/view?usp=share_link)

Файл содержит статистику по стоимости Интернета в разных странах.

- Прочитайте файл как датафрейм
- Удалите строки с пустыми значениями
- Сколько строк было изначально и сколько осталось?

###Преобразование типов данных
Преобразуем в числа

In [ ]:
import pandas as pd

# Создаем таблицу со строками, которые нужно преобразовать в числа
df = pd.DataFrame({'A': ['1', '2', '3'], 'B': ['4', '5', '6'], 'C': ['7', '8', '9']})

# Преобразуем столбец 'A' в числа с плавающей точкой
df['A'] = pd.to_numeric(df['A'])

# Преобразуем столбец 'B' в целые числа
df['B'] = pd.to_numeric(df['B'], downcast='integer')

print(df.dtypes)

A     int64
B      int8
C    object
dtype: object

Преобразуем  строки в даты

In [ ]:
import pandas as pd

# Создаем таблицу со строками, которые нужно преобразовать в даты
df = pd.DataFrame({'A': ['2022-01-01', '2022-02-01', '2022-03-01'],
                   'B': ['2022-01-02', '2022-02-02', '2022-03-02']})

# Преобразуем столбец 'A' в даты
df['A'] = pd.to_datetime(df['A'])

# Преобразуем столбец 'B' в даты с определенным форматом
df['B'] = pd.to_datetime(df['B'], format='%Y-%m-%d')

print(df.dtypes)

A    datetime64[ns]
B    datetime64[ns]
dtype: object

|Спецификатор	|Описание|
|-------|------|
|%Y	|Год (4 цифры)|
|%m	|Месяц (2 цифры)|
|%d	|День месяца (2 цифры)|
|%H	|Час (2 цифры, 24-часовой формат|
|%M	|Минута (2 цифры)|
|%S	|Секунда (2 цифры)|
|%f	|Микросекунды (6 цифр)|
|%z	|Часовой пояс|

### Создадим csv-файл с информацией о датах и времени в виде строк

In [ ]:
import pandas as pd

# Создаем таблицу с данными
df = pd.DataFrame({'date_1': ['2022-01-01', '2022-01-02', '2022-01-03'],
                   'time_1': ['10:00:00', '11:00:00', '12:00:00'],
                   'date_2': ['01/01/2022', '02/01/2022', '03/01/2022'],
                   'time_2': ['10:00 AM', '11:00 AM', '12:00 PM']})


# Сохраняем таблицу в CSV файл
df.to_csv('dates_and_times.csv', index=False)

### Прочитаем файл и преобразуем в datetime

In [ ]:
df = pd.read_csv('dates_and_times.csv')
# Конвертируем столбцы с датами и временем в формат datetime
df['date_1'] = pd.to_datetime(df['date_1'], format='%Y-%m-%d')
df['time_1'] = pd.to_datetime(df['time_1'], format='%H:%M:%S')
df['date_2'] = pd.to_datetime(df['date_2'], format='%d/%m/%Y')
df['time_2'] = pd.to_datetime(df['time_2'], format='%I:%M %p')
df

      date_1              time_1     date_2              time_2
0 2022-01-01 1900-01-01 10:00:00 2022-01-01 1900-01-01 10:00:00
1 2022-01-02 1900-01-01 11:00:00 2022-01-02 1900-01-01 11:00:00
2 2022-01-03 1900-01-01 12:00:00 2022-01-03 1900-01-01 12:00:00