# Логические конструкции
![линейная программа](https://cf2.ppt-online.org/files2/slide/g/g6idROA2o0KtejWcF9C3UwIvEXlH8SyhLsmJNx/slide-2.jpg)
![ветвление](https://drive.google.com/uc?export=view&id=1mxdUs7agBwIsaUU1UXE6oxohJl8xCsPb)

# Какие бывают условия
* == равенство
* < меньше
* \> больше
* <= меньше или равно
* \>= больше или равно
* != неравенство

In [ ]:
num_one = 10
num_two = 5

Первое число больше второго?

In [ ]:
num_one > num_two

True

Первое число меньше второго?

In [ ]:
num_one < num_two

False

Первое число равно второму?

In [ ]:
num_one == num_two

False

Первое число не равно второму?

In [ ]:
num_one != num_two

True

Сравним две строки

In [ ]:
'строка' == 'строка'

True

Если проверять строки на неравенство, то учитывается длина строки

In [ ]:
'строка1' > 'строка'

True

Простейшее условие.

In [ ]:
# впишем любое число в переменную x
x = 9
if x % 2 == 0: # проверка на четность с помощью поиска остатка от деления
  print('Число четное') # операции, которые выполнятся, если условие будет правдой
  print('Условие сработало') # операция может быть одна или несколько
print('Конец программы') # код после условия, который выполнится в любом случае

Конец программы

Добавим else

In [ ]:
# впишем любое число в переменную x
x = 8
if x % 2 == 0: # проверка на четность с помощью поиска остатка от деления
  print('Число четное') # операции, которые выполнятся, если условие будет правдой
  print('Условие сработало') # операция может быть одна или несколько
else:
  print('Число нечетное') # выполняется, если условие ложно
print('Конец программы') # код после условия, который выполнится в любом случае

Число четное
Условие сработало
Конец программы

Добавим elif

In [ ]:
x = int(input('введи число ')) # считываем ввод с клавиатуры и преобразуем в число
if x == 0: # проверка первого условия
  print('введен ноль')
elif x % 2 == 0:# проверка второго условия
  print('число четное')
else: # если не сработали первое и второе условия
  print('число нечетное')

введи число 7
число нечетное

Задание на закрепление

Написать программу вычисления стоимости покупки с учетом скидки. Скидка в 3% предоставляется в том случае, если сумма покупки больше 500 руб., в 5% - если сумма больше 1000 руб.

In [ ]:
price = int(input('Введите стоимость покупок в рублях ')) # считываем ввод с клавиатуры и преобразуем в число
if price > 1000: # условие для большой скидки
  discount = price * 0.05 # считаем 5%
  total = price - discount # считаем сумму к оплате
elif price > 500: # условие для маленькой скидки
  discount = price * 0.03 # считаем 3%
  total = price - discount # считаем сумму к оплате
else: # если скидка не полагается
  discount = 0
  total = price # сумма к оплате равна стоимости покупок
print('Скидка составляет:', discount, 'руб.')
print('Итого к оплате:', total, 'руб.')

Введите стоимость покупок в рублях 356
Скидка составляет: 0 руб.
Итого к оплате: 356 руб.

Сделаем вложенные условия

In [ ]:
price = int(input('Введите стоимость покупок в рублях ')) # считываем ввод с клавиатуры и преобразуем в число
card = input('Есть ли у вас скидочная карта? (да/нет)')
if card == 'да':
  if price > 1000: # условие для большой скидки
    discount = price * 0.05 # считаем 5%
    total = price - discount # считаем сумму к оплате
  elif price > 500: # условие для маленькой скидки
    discount = price * 0.03 # считаем 3%
    total = price - discount # считаем сумму к оплате
  else: # если скидка не полагается
    discount = 0
    total = price # сумма к оплате равна стоимости покупок
else: # если скидка не полагается
  discount = 0
  total = price # сумма к оплате равна стоимости покупок

print('Скидка составляет:', discount, 'руб.')
print('Итого к оплате:', total, 'руб.')

Введите стоимость покупок в рублях 400
Есть ли у вас скидочная карта? (да/нет)да
Скидка составляет: 0 руб.
Итого к оплате: 400 руб.

Рассмотрим цикл for

In [ ]:
names = ['Ваня', 'Петя', 'Маша', 'Даша']
for i in names: # для i-ого элемента в списке names
  print(i) # выведем на экран i-й элемент
print('Список имен закончился') # что изменится, если добавить отступ этой строке?

Ваня
Петя
Маша
Даша
Список имен закончился

Теперь тоже самое, но через range()

In [ ]:
names = ['Ваня', 'Петя', 'Маша', 'Даша']
for i in range(len(names)): # теперь i не строка из списка, а число из диапазона
  print(i, names[i]) # выведем число i и i-й элемент из списка
  # что делать, если мы хотим, чтобы выводимое в print число было не от нуля, а от единицы?
print('Список имен закончился')

0 Ваня
1 Петя
2 Маша
3 Даша
Список имен закончился

Теперь поработаем с циклом while

In [ ]:
names = ['Ваня', 'Петя', 'Маша', 'Даша']
i = 0
while i < len(names): # условие для выполнения цикла
  print(i, names[i]) # выведем число i и i-й элемент из списка
  i += 1 # увеличение переменной условия
  # что будет, если операцию увеличения i перенести в начало цикла?
print('Список имен закончился')

0 Ваня
1 Петя
2 Маша
3 Даша
Список имен закончился

Прерывание цикла

continue

In [ ]:
names = ['Ваня', 'Петя', 'Маша', 'Даша']
for i in names:
  if i == 'Петя': # проверка условия
    continue # если Истина, прерываем и переходим к следующему i
  print(i)

Ваня
Маша
Даша

break

In [ ]:
names = ['Ваня', 'Петя', 'Маша', 'Даша']
for i in names:
  if i == 'Петя':# проверка условия
    break # если Истина, прерываем и выходим из цикла
  print(i)

Ваня

Цикл в цикле (вложенные циклы)

Напишем программу, которая сможет выдавать таблицу умножения для чисел на заданном пользователем диапазоне.

In [ ]:
a = int(input('Начало диапазона значений таблицы умножения'))
b = int(input('Конец диапазона значений таблицы умножения'))
for i in range(a, b+1): # +1 чтобы число b тоже вошло в диапазон
  for j in range(a, b+1):
    m = i * j
    print(i, ' x ', j, ' = ', m)

Начало диапазона значений таблицы умножения15
Конец диапазона значений таблицы умножения18
15  x  15  =  225
15  x  16  =  240
15  x  17  =  255
15  x  18  =  270
16  x  15  =  240
16  x  16  =  256
16  x  17  =  272
16  x  18  =  288
17  x  15  =  255
17  x  16  =  272
17  x  17  =  289
17  x  18  =  306
18  x  15  =  270
18  x  16  =  288
18  x  17  =  306
18  x  18  =  324

Задание для закрепления

Пусть имеется список учеников. Напишем программу, которая добавляет учеников в список, проверяя, есть ли уже такое имя или нет.

In [ ]:
students = ['Иван', 'Василий', 'Мария', 'Марина', 'Эдуард', 'Иван']

In [ ]:

name = input('Введите имя для поиска: ')
check = 0
for i in students:

  if name == i:
    print('Ученик найден.')
    check += 1
    continue
  print(i)
if check == 0:
  print('Совпадений не найдено.')
  students.append(name)
  print('Новый ученик добавлен в список')
print('Поиск окончен.')

Введите имя для поиска: Лариса
Иван
Василий
Мария
Марина
Эдуард
Иван
Ученик найден.
Поиск окончен.